*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
/* Area Header */
.header{
    width: 100%;
    display: flex;
    background-color: rgb(63, 62, 62);
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem 0 10rem;
    flex-wrap: wrap;
    
}
.logoImg{
    display: flex;
    color: rgb(221, 57, 57);
    align-items: center;
    font-size: 20px;
}
.header .imgPill{
    width: 4rem;
    
}
.searchInput{
    width: 35em;
    height: 4rem;
    border-radius: 50px;
    padding: 0 1rem 0 1rem;
    font-size: 18px;
}
header .imgCar{
    height: 3rem;
    
}
.imgCar:hover{
    transform: scale(1.20); /* Aumenta a altura da imagem em 5% */
    cursor: pointer;
}
.carBuy{
    display: flex;
    
}
.loginRegister{
    display: flex;
    width: 15%;
    border-radius: 50%;
    padding: 1rem;
    font-size: 12px;
}
.loginRegister:hover{
    background-color: rgb(42, 40, 40);
    cursor: pointer;
}
.loginRegister a{
    color: #c9c8c8;
    text-decoration: none;
    margin-left:1rem ;
}
/* End Area header */

/* Init Main Area */

/* Items List */

.catalago{
    /* section */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(246, 241, 241);
    flex-wrap: wrap;
}
.ItemsCatalago{
    /* div */
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
}
.ListCatalago{
    /* ul */
    display: flex;
    list-style-type: none;
}
.list{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
    justify-content: center;
}
.list:hover{
    transform: scale(1.05)
}
.anchorList{
/* ancoras */
    display: inline-block;
    width: 10rem; 
    height: 10rem; 
    border-radius: 50%; 
    overflow: hidden; 
    text-align: center; 
    line-height: 100px; 
    margin: 0 2rem 0 0;
    background-color: #e3e0e0; 
    position: relative; 
}

.title-story{
    /* Titulo de cada Ancora */
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2rem 0 2rem;
    margin-top: 0.5rem;
}

.imgItem{
    width: 80% ;
    margin-top: 1rem;
}
#suplemento{
    width: 60%;
}